@font-face {
  font-family: "iconfont"; /* Project id 3984458 */
  src: url('iconfont.woff2?t=1680076929423') format('woff2'),
       url('iconfont.woff?t=1680076929423') format('woff'),
       url('iconfont.ttf?t=1680076929423') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yonghu:before {
  content: "\e611";
}

.icon-openai:before {
  content: "\e603";
}

